button {
  padding: 0;
  outline: none;
  background: none;
  border: none;
  cursor: pointer;
}

input {
  outline: none;
  color: #2196F3;
  font-weight: bold;
  border: none;
  width: 200px;
  border-bottom: 2px solid #2196F3;
}

.container {
  padding: 10px;
  display: flex;
  align-items: center;
}