.btnSearch {
  padding: 0;
  outline: none;
  background: none;
  border: none;
  cursor: pointer;
}

.container {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: flex-end;
}

.buttonsContainer {
  display: flex;
  padding: 10px;
  justify-content: space-between;
  width: 80px;
}
